<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark cyan darken-3">
  <a class="navbar-brand" href="#" routerLink='/'>Aaron Steenhoven</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
     <ul class="navbar-nav mr-auto">
      
      
      
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li> 
      <li class="nav-item">
          <a class="nav-link" href="https://docs.google.com/document/d/e/2PACX-1vRaNSe-dC7X-DDwJWzPl6OUfv49msMUeCFEGdkRi27pKsSXjGjG1h82bOU8QnibUCfzTaTMyC8Gqh0z/pub" rel="noopener noreferrer" target="_blank">Resume</a>
        </li>
     
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
            <a class="nav-link waves-effect waves-light" href="https://www.linkedin.com/in/aaronsteenhoven/" rel="noopener noreferrer" target="_blank">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="https://twitter.com/aaronsteenhoven" rel="noopener noreferrer" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="https://github.com/aaronsteenhoven" rel="noopener noreferrer" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </li>
      
    </ul>
  </div>
</nav>
<!--/.Navbar -->
