<p style="font-size: 6.5em; text-align:center; border: 1px solid lightgray;" class="text-monospace">EXPERIENCE</p>

<div class="card w-50 mb-3 card border-dark mb-3 ">
        <div class="card-body">
          <h5 class="card-title card-header primary-color white-text">ASCENSION HEALTH</h5>
          <p class="card-text">Worked with Oracle/Peoplesoft financials. Worked with hospital department leaders monthly to go over income statements. Budget and rolling forecast. Heavy in advanced Excel, and lot's of data manipulation for monthly deliverables..</p>
        </div>
      </div>

<div id="concord" class="card w-50 mb-3 card border-dark mb-3 card text-center">
    <div class="card-body">
        <h5 class="card-title card-header primary-color white-text">CONCORD MUSIC GROUP</h5>
        <p class="card-text">My first experience in coding. Development and maintenance of our company's Sales database involving tables, joins, scripts, and stored procedures. Heavy in ad-hoc reporting that resulted in complex queries to pull relevant data. Worked with Microsoft SQL Server and the Sage 500 ERP system.</p>
    </div>
</div>

<div id="bloom" class="card w-50 mb-3 card border-dark mb-3 card text-right">
     <div class="card-body">
        <h5 class="card-title card-header primary-color white-text">BLOOM DESIGNER FINDS</h5>
        <p class="card-text">Founded an online women's retail clothing business to immediate success and close to 2 million in sales. Eventually branched off and started a physical store location in Hendersonville, TN that was a hit in the community. Later sold the physical store-front for six figures..</p>
    </div>
</div>

