<p style="font-size: 6.5em; text-align:center; border: 1px solid lightgray;" class="text-monospace">EXPERIENCE</p>



<div id="ascension" class="container">
    <div class="row">
      <div class="col-6">
        
       
<div class="card">
    <h3 class="card-header primary-color white-text">Ascension Health</h3>
    <div class="card-block">
        <h4 class="card-title">Financial Analyst</h4>
        <p class="card-text">Worked with Oracle/Peoplesoft financials. Worked with hospital department leaders monthly to go over income statements. Budget and rolling forecast. Heavy in advanced Excel, and lot's of data manipulation for monthly deliverables.</p>
        
    </div>
</div>
 </div>
</div>
</div>


<div id="concord" class="container">
    <div class="row">
      <div class="col-6">
<div class="card">
    <h3 class="card-header primary-color white-text">Concord Music Group</h3>
    <div class="card-block">
        <h4 class="card-title">Business Analyst</h4>
        <p class="card-text"> My first experience in coding. Development and maintenance of our company's Sales database involving tables, joins, scripts, and stored procedures. Heavy in ad-hoc reporting that resulted in complex queries to pull relevant data. Worked with Microsoft SQL Server and the Sage 500 ERP system.</p>
        
    </div>
  </div>
</div>
</div>

    <!-- <div class="row">
        <div class="col-12"> -->
          
  <div id="bloom" class="container">
   <div class="row">
   <div class="col-6">    
  <div  class="card">
      <h3 class="card-header primary-color white-text">Bloom Designer Finds</h3>
      <div class="card-block">
          <h4 class="card-title">Business Developer and Finanacial Analyst</h4>
          <p class="card-text"> Founded an online women's retail clothing business to immediate success and close to 2 million in sales. Eventually branched off and started a physical store location in Hendersonville, TN that was a hit in the community. Later sold the physical store-front for six figures.</p>
          
      </div>
    </div>
  </div>
  </div>



         
<!-- <div class="card">
    <h3 class="card-header primary-color white-text">Concord Music Group</h3>
    <div class="card-block">
        <h4 class="card-title">Business Analyst</h4>
        <p class="card-text">Development and maintenance of our company's Sales database involving tables, joins, scripts, and stored procedures. Heavy in ad-hoc reporting that resulted in complex queries to pull relevant data. Worked with Microfsoft SQL Server and the Sage 500 ERP system.</p>
        
    </div>
</div> -->