<!-- Jumbotron -->
<div class="jumbotron text-center">

  <!-- Title -->
  <h1 class="card-title h1 pb-2"><strong>HELLO WORLD!</strong></h1>
  <div class="view overlay my-4">
      <img src="../../assets/avatar.jpg" class="img-fluid rounded-circle hoverable rounded mx-auto d-block" alt="">
      <a href="">
        <div class="mask rgba-white-slight"></div>
      </a>
     
    </div>
  <h3 class="indigo-text h3 mb-4 fakeclass">I'm Aaron, and I am a developer</h3>

  <!-- Card image -->
  

</div>
<!-- Jumbotron -->

<div class="container">
    <div class="row">
      <div class="col-6">
          <p style="font-size: 2.5em; text-align:center; border-bottom: 2px solid lightcoral" class="text-monospace">ABOUT</p>
        
        <blockquote class="blockquote">
            <p class="mb-0">Welcome to my online portfolio. I'm a developer currently located in Indianapolis, IN. I started my developer journey about 2 years ago when I taught myself to use SQL. <br />
              Prior to my transition to coding, I was an entrepreneur, management consultant, and finanacial analyst. <br />
            <br />
             In 2019, I decided to dive in to front end development and graduated from an intensive 12 week coding bootcamp at Eleven Fifty in Fishers, IN. <br />
             <br />
             I am currently looking for a job where I can continue to grow as a front end and back end developer, while also utilizing the other business skills I have excelled in along the way.  <br />
             <br />
             When I'm not building web apps, you can usually either find me hanging with my wife and daughter down in Disney World. If I'm not there, I'm usually writing and producing in my studio.</p>
          </blockquote>
      </div>
      <div class="col-6">
          <p style="font-size: 2.5em; text-align:center; border-bottom: 2px solid lightcoral" class="text-monospace">SKILLS</p>
          <!-- List Group 1 -->
          <ul class="list-group">
              <li class="list-group-item list-group-item-primary active">
                <div class="md-v-line"></div><i class="fas fa-code mr-4 pr-3"></i> Coding
              </li>
              <li class="list-group-item list-group-item-secondary">
                <div class="md-v-line"></div><i class="fab fa-js mr-5"></i>Javascript
              </li>
              <li class="list-group-item list-group-item-success">
                <div class="md-v-line"></div><i class="fab fa-angular mr-5"></i>Angular
              </li>
              <li class="list-group-item list-group-item-primary">
                <div class="md-v-line"></div><i class="fab fa-react mr-5"></i>React
              </li>
              <li class="list-group-item list-group-item-secondary">
                <div class="md-v-line"></div><i class="fab fa-bootstrap mr-5"></i>Bootstrap
              </li>
            </ul>
              <!-- List Group 2 -->
          <ul class="list-group">
              <li class="list-group-item active">
                <div class="md-v-line"></div><i class="fab fa-html5 mr-4 pr-3"></i> HTML
              </li>
              <li class="list-group-item list-group-item-secondary">
                <div class="md-v-line"></div><i class="fab fa-css3 mr-5"></i>CSS
              </li>
              <li class="list-group-item list-group-item-success">
                <div class="md-v-line"></div><i class="fas fa-database mr-5"></i>SQL
              </li>
              <li class="list-group-item list-group-item-primary">
                <div class="md-v-line"></div><i class="fab fa-node mr-5"></i>NODE JS
              </li>
              <li class="list-group-item list-group-item-secondary">
                <div class="md-v-line"></div><i class="fab fa-git mr-5"></i>GIT
              </li>
            </ul>
      </div>
    </div>
  </div>

  <!-- Pulling in our Projects page -->

  <app-projects></app-projects>

  <app-experience></app-experience>

<!-- <div class="media">
    <img class="d-flex align-self-start mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder6.jpg" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 font-weight-bold">Top-aligned media</h5>
      <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
        odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
        Donec lacinia congue felis in faucibus.</p>
      <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus
        et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
  </div> -->